<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"
          href="../../css/table.css" />
</head>
<body>

<form th:action="@{/tasks/addTask}" method="post"  enctype="multipart/form-data"  th:object="${task}" class="add-form">
    <h1 class="display-4" th:text="#{lang.add}">Add task</h1>

    <div class="form-group">
        <label th:for="title" th:text="#{lang.title}"></label>
        <input type="text" class="form-control" th:field="*{title}" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label th:for="details" th:text="#{lang.details}"></label>
        <input type="text" class="form-control"  th:field="*{details}" placeholder="Details">
    </div>
    <div class="form-group">
        <label th:for="date" th:text="#{lang.date}"></label>
        <input type="date" class="form-control" th:field="*{date}" id="date" placeholder="Date">
    </div>
   <!-- <div class="form-group" style="display: none;">
        <input type="checkbox" class="form-check-input" disabled>
        <label class="form-check-label"  th:for="status" th:text="#{lang.status}"></label>
    </div>-->
    <div class="form-group">
        <label th:for="image" th:text="#{lang.image}"></label>
        <input name="image" type="file" th:field="*{image}" id="image"/>
    </div>
    <button type="submit" class="btn btn-primary" th:text="#{lang.add}"></button>
</form>
<div class="text-center" th:insert="footer :: theme" >...</div>
</body>
</html>