<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1>Error page</h1>
        <div>
            <span th:text="${exception}"></span>
        </div>
    </body>
</html>