<div th:fragment="theme">
    <a th:href="@{/tasks/?theme=theme1}"><span th:text="#{lang.theme1}"></span></a>|
    <a th:href="@{/tasks/?theme=theme2}"><span th:text="#{lang.theme2}"></span></a>
</div>