<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="${#themes.code('styleSheet')}"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="table-tasks">
            <h1 class="display-4" th:text="#{lang.previous}"></h1>

                <table class="table table-striped" id="example">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{lang.status}"></th>

                        <th scope="col" th:text="#{lang.title}"></th>
                        <th scope="col" th:text="#{lang.date}"></th>
                        <th scope="col" th:text="#{lang.details}"></th>
                        <th scope="col" th:text="#{lang.actions}"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="task : ${previousTasks}">
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" disabled checked="${task.status}">
                                    </div>
                                </td>

                                <td th:text="${task.title}">...</td>
                                <td th:text="${task.date}">...</td>
                                <td th:text="${task.details}">...</td>
                                <td>
                                    <a th:href="@{|/tasks/deleteTask/${task.id}|}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

            <h1 class="display-4" th:text="#{lang.current}"></h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:text="#{lang.status}"></th>
                    <th scope="col" th:text="#{lang.title}"></th>
                    <th scope="col" th:text="#{lang.date}"></th>
                    <th scope="col" th:text="#{lang.details}"></th>
                    <th scope="col" th:text="#{lang.actions}"></th>
                    <th scope="col" th:text="#{lang.image}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="task : ${currentTasks}">
                    <tr>
                        <td>
                            <form action="post" th:action="@{|/tasks/editStatus/{task.id}|}">
                                <div class="form-check">
                                    <a th:href="@{|/tasks/editStatus/${task.id}|}" th:text="#{lang.done}"></a>
                                </div>
                            </form>
                        </td>
                        <td th:text="${task.title}">...</td>
                        <td th:text="${task.date}">...</td>
                        <td th:text="${task.details}">...</td>
                        <td>
                            <a th:href="@{|/tasks/deleteTask/${task.id}|}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a th:href="@{|/tasks/update?id=${task.id}|}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                        </td>
                        <td>
                        <td>
                            <img th:src="@{|/tasks/downloadImage/${task.id}|}" height="150" width="150"></img></td>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <h1 class="display-4" th:text="#{lang.future}"></h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:text="#{lang.status}"></th>
                    <th scope="col" th:text="#{lang.title}"></th>
                    <th scope="col" th:text="#{lang.date}"></th>
                    <th scope="col" th:text="#{lang.details}"></th>
                    <th scope="col" th:text="#{lang.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="task : ${futureTasks}">
                    <tr>
                        <td>
                            <form action="post" th:action="@{|/tasks/editStatus/{task.id}|}" >
                                <div class="form-check">
                                    <input name="status" type="checkbox" disabled class="form-check-input">
                                </div>
                            </form>
                        </td>
                        <td th:text="${task.title}">...</td>
                        <td th:text="${task.date}">...</td>
                        <td th:text="${task.details}">...</td>
                        <td>
                            <a th:href="@{|/tasks/deleteTask/${task.id}|}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a th:href="@{|/tasks/update/${task.id}|}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>

            <form th:action="@{/tasks/redirectToAddTask}">
                <input class="btn btn-primary" type="submit" th:value="#{lang.add}">
            </form>

            <div class="text-center" th:fragment="copy">
                <a th:href="@{/tasks/locale?lang=en}"><span th:text="#{lang.en}"></span></a>|
                <a th:href="@{/tasks/locale?lang=ru}"><span th:text="#{lang.ru}"></span></a>
            </div>

            <div class="text-center" th:insert="footer :: theme" >...</div>
        </div>

    </body>
</html>