<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"
          href="../../css/table.css"/>
</head>
<body>

<form th:action="@{/tasks/updateTask}" method="post" th:object="${task}" class="add-form"  enctype="multipart/form-data" >
    <h1 class="display-4" th:text="#{lang.update}"></h1>

    <input hidden value="${task.id}" th:field="*{id}"/>

    <div class="form-group">
        <label th:for="title" th:text="#{lang.title}"></label>
        <input type="text" class="form-control" value="${task.title}" th:field="*{title}">
    </div>
    <div class="form-group">
        <label th:for="details" th:text="#{lang.details}"></label>
        <input type="text" class="form-control" value="${task.details}" th:field="*{details}">
    </div>
    <div class="form-group">
        <label th:for="date" th:text="#{lang.date}"></label>
        <input type="date" class="form-control" value="${task.date}" th:field="*{date}" id="date">
    </div>
    <div class="form-group">
        <label th:for="image" th:text="#{lang.image}"></label>
        <input name="image" type="file" th:field="*{image}" id="image"/>
    </div>
    <button type="submit" class="btn btn-primary" th:text="#{lang.update}"></button>
</form>
<div class="text-center" th:insert="footer :: theme">...</div>
</body>
</html>