<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:text="'Message: ' + ${message}"></span>
    <span th:text="#{lang.change}"></span>
    <a th:href="@{/locale?lang=en}"><span th:text="#{lang.en}"></span></a>
    <a th:href="@{/locale?lang=ru}"><span th:text="#{lang.ru}"></span></a>
</body>
</html>